{

}









.selected_points{
  position:absolute;
  top:50%;
  transform: translate(-50%,-50%);
  left:25%;
  background-color: rgb(92, 196, 234);
  width:40%;
  height:25%;


  
  padding: 6px;
  border: 2px solid #ccc;
  overflow-x: scroll;
  display: block;
  
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.unselected_points{
  position: absolute;
  top:50%;
  transform: translate(-50%,-50%);
  left:75%;
  background-color: rgb(92, 196, 234);
  width:40%;
  height:25%;
  padding: 6px;
  border: 2px solid #ccc;
  overflow-x: scroll;
  display: block;
  
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;


}